@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Loading screen styling */
.loading-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  z-index: 100;
}

.loading-logo {
  animation: spin 2s linear infinite;
}

/* Spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-animation {
  animation: spin 2s linear infinite;
}
@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
.animate-dots::after {
  content: "...";
  display: inline-block;
  animation: dots 1.5s steps(3, end) infinite;
}
/* 
module.exports = {
  theme: {
    extend: {
      animation: {
        'dots': 'dots 1.5s steps(3, end) infinite', // Animation for the dots
      },
    },
  },
}; */
